
*.pyc
*.pyo

foodWorld/
venv/
env/

FoodCourt/.env
FoodCourt/__pycache__/
FoodCourt/*.sqlite3


.vscode/

# Django and local files
FoodCourt/staticfiles/
FoodCourt/__pycache__/
FoodCourt/**/*.pyc

# Temporary migration files
FoodCourt/old_*.csv
FoodCourt/fooditems*.csv
FoodCourt/import_*.py
